/**
 * Add here custom variables to customize bootstrap.
 */
$body-bg: #f4f6f7;
$gray-base: #232323;
$gray-600
$grid-gutter-width: 15px;

@import "bootstrap";

/**
 * HERE ADD YOUR CUSTOM CSS RULES
 */
body {
    font-family: 'Raleway', sans-serif;
}

.site-inner main {
    article,
    #comments,
    #respond {
        background-color: #ffffff;
        padding: $grid-gutter-width;
    }
}

aside.sidebar section.widget {
    background-color: #ffffff;
    margin-bottom: $grid-gutter-width;

    .widget-wrap {
        padding: $grid-gutter-width;
    }
}
